//
//  Config.xcconfig
//  NetworkingWithLoLAPI
//
//  Created by Yunwon Han on 2023/06/02.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

LEAGUE_OF_LEGEND_API_KEY = RGAPI-563fc8d2-c6a9-40ff-a0c1-06fe568399cd

SUMMONER_V4_BASE_URL = kr.api.riotgames.com/lol/summoner/v4/summoners/by-name/
